{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="w-50 mx-auto p-3">
        <h1>Forget Your Password?</h1>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible  show" role="alert">
          <strong>{{message}}</strong>  
        </div>
        {% endfor %}
        <h6>Please, submit your email to change your password.</h6>
        <form action="{% url "reset_password" %}" method="post">
            {% csrf_token %}
            <label class="fw-bolder" for="email" id="#email">Enter Your Email:</label>
            <input type="email" class="w-100" id="email" name="email">
            <button type="submit" class="btn btn-primary mt-3">submit</button>
        </form>
    </div>
</div>

{% endblock content %}